.app {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__connected__text {
  margin: 8px;
  font-size: 12px;
}